@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;    font-family: 'Pretendard';}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* layout */
body {background: #f5f5f5; color: #fff; font-family: 'Pretendard', sans-serif;}
.content-wrapper {width: 390px; height: 852px; margin: 0 auto; background: white; color: black; padding-bottom: 100px; position: relative;}
.inner {padding: 0 28px;}

/* 공통요소 */
/* status-bar */
.status-bar {display: flex; justify-content: space-between; width: 100%; padding: 0 24px; background: white;}
.status-bar .time {padding: 22px 22px 9px; font-size: 17px; font-weight: bold; line-height: 1;}
.status-bar .status {display: flex; gap: 7px; padding: 18px 4px 13px 30px;}

/* 상단 페이지 타이틀 + back 버튼 */
.pageTit {display: flex;  padding: 20px 161px 19px 28px; justify-content: space-between; align-items: center; font-size: 20px; font-weight: 700; letter-spacing: -1px;}
/* 상단 페이지 타이틀 + back 버튼 + 아이콘 */
.pageTitIcon {display: flex;  padding: 20px 28px; justify-content: space-between; align-items: center; font-size: 20px; font-weight: 700; letter-spacing: -1px;}
.pageTitIcon a {width: 25px;}

/* DR.PILL */
.DRPILL {font-family: "Bowlby One SC", sans-serif; font-size: 24px; line-height: 1; color: #1C2E40;}
.DRPILL.big {font-size: 47px;}
.DRPILL span {font-family: "Bowlby One SC", sans-serif; line-height: 1; color: #4889FF;}

/* 24px 타이틀 */
.onTit {text-align: center; margin-top: 120px; font-size: 24px; font-weight: 700;}
/* section 타이틀 22px */
.sectionTit {font-size: 22px; font-weight: 700; margin-bottom: 24px;}

/* 버튼 */
.btnBox a {display: block; font-size: 15px; font-weight: 600; width: 290px; height: 50px; text-align: center; align-content: center; margin: auto; background: #F9F9F9; border-radius: 10px;}
.btnBox a.check {background: #4889FF; color: white; margin-bottom: 8px;}

/* answer */
.answer .answer  {margin: 31px auto 69px; justify-items: center; font-size: 15px; font-weight: 500;}
.answer .answer li {margin-bottom: 8px; width: 290px; height: 45px; padding: 0 18px; align-content: center; border-radius: 10px; background: #F9F9F9;}
.answer .answer li.check {font-weight: 600; background: #F0F4FF; color: #4889FF; display: flex; justify-content: space-between; align-items: center;}
.answer .answer li.check img {width: 13px; height: 10px;}

.logo {text-align: center; margin: 300px auto 352px; font-size: 47px; height: 100%;}
.logo .subTit {font-size: 15px; font-weight: bold;letter-spacing: -1px; margin-top: 20px;}

footer ul {position: fixed; bottom: 0; background: white; display: flex; justify-content: space-between; align-items: center; padding: 10px 18px;} 
footer ul li {text-align: center; width: 70.8px; font-size: 10px; font-weight: 500; color: #ABABAB;}
footer ul li img {margin-bottom: 8px;}