/* onTit */
.onTit img {margin-top: 73px; margin-bottom: 79px;}
.onTit img.messageImg {margin-top: 113px; margin-bottom: 61px;}

.onTit .message1 {position: absolute; top: 276px; left: 32px; padding: 13px 18px; font-size: 15px; background: #F2F5F8; border-radius: 10px;}
.onTit .message2 {position: absolute; top: 328px; right: 14px; padding: 13px 18px; font-size: 15px; background: #F2F5F8; border-radius: 10px;}

.onTit .page {display: flex; gap: 5px; justify-content: center; margin-bottom: 43px;}
.onTit .page span {display: block; width: 8px; height: 8px; border-radius: 50%; background: #D9D9D9;}
.onTit .page span.pick {width: 12px; border-radius: 40%; background: #1C2E40;}

.btnBox a.connect {background: #F0F4FF; color: #4889FF; margin-bottom: 8px;}
.btnBox .nextTime {margin-top: 12px; font-size: 15px; font-weight: 500; color: #848181; text-align: center;}