.pageTitIcon img.comment {position: absolute; right: 1%; top: 11%;}

.topBox {margin: 31px auto 48px; text-align: center;}
.topBox input {width: 320px; height: 45px; padding: 12px 18px; background: #F8F8F8; border-radius: 10px; border: none;}

.camBox {font-size: 16px; text-align: center; line-height: 1.5; color: #ABABAB; margin-top: 26px;}

.content .alarm {margin-bottom: 48px;}
.content .alarm ul li {width: 85%; display: flex; justify-content: space-between; margin: auto; padding: 8px 28px; margin-bottom: 16px; font-size: 23px; font-weight: 600; letter-spacing: -1px;}
.content .alarm ul li.select {background: #F8F8F8; border-radius: 10px; color: #4889FF;}
.content .alarm ul li .am {width: 40%;}
.content .alarm ul li .hour {width: 20%;}
.content .alarm ul li .minute {width: 20%;}
.content .blue {color: #4889FF;}
.content .day ul li.blue {background: #F0F4FF;}

.content .day {margin-bottom: 48px;}
.content .day .daySet {display: flex; justify-content: space-between;}
.content .dayTit {margin-bottom: 24px; font-size: 18px; font-weight: 700; letter-spacing: -1px;}
.content .day .right {display: flex; gap: 10px; font-size: 17px; font-weight: 500;}
.content .day ul {display: flex; justify-content: space-between;}
.content .day ul li {background: #F8F8F8; border-radius: 10px; text-align: center; align-content: center; font-size: 18px; width: 42px; height: 38px;}

.content .set {margin-bottom: 48px;}
.content .set ul li {display: flex; justify-content: space-between;}

.content img.cam {display: block; margin: 68px auto;}
.content .camSet {margin-bottom: 46px; display: flex; justify-content: space-between;}
.content .camSet li {width: 33%; text-align: center; align-content: center;}
.content p.careful {text-align: center; font-size: 14px; color: #ABABAB;}

.btn {display: flex; justify-content: space-between;}
.btnBox a {display: block; font-size: 15px; font-weight: 600; width: 163px; height: 50px; text-align: center; align-content: center; margin: auto; background: #F9F9F9; border-radius: 10px;}
.btnBox a.check {background: #4889FF; color: white; margin-bottom: 8px;}
