/* step */
.step {display: flex; gap: 14px; justify-content: center; margin-top: 35px; margin-bottom: 62px;}
.step span {display: block; width: 8px; height: 8px; border-radius: 50%; background: #D9D9D9;}
.step span.pickStep {width: 12px; border-radius: 40%; background: #1C2E40;}

/* onTit */
.onTit {margin-top: 62px;}
.onTit .plural.mg {margin-top: 46px;}
.onTit .plural {font-size: 14px; font-weight: 500; color: #656565; margin-top: 17px;}

.answer .answer.grid {display: flex; flex-wrap: wrap; text-align: center; justify-content: space-between; width: 290px; height: 363px;}
.answer .answer.grid li {width: 88px; height: auto; display: block; padding: 0; margin-bottom: 12px;}
.answer .answer.grid li img, .answer .answer.grid li img.food {margin-bottom: 10px; width: auto; height: auto;}